In [8]:
pip install pyarrow

Requirement already satisfied: pyarrow in /usr/local/python/3.12.1/lib/python3.12/site-packages (19.0.0)
Note: you may need to restart the kernel to use updated packages.

In [9]:
pip install pandas

Requirement already satisfied: pandas in /home/codespace/.local/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [10]:
import pandas as pd
import datetime
import os

In [11]:
cwd = os.getcwd()
print(f'File Path: {cwd}')

folder = '\\Transactions'

data_path = cwd + folder
print(f'Data Location: {data_path}')

File Path: /
Data Location: /\Transactions

In [12]:
folder_files = os.listdir(data_path)
for f in folder_files:
    print(f)

FileNotFoundError: [Errno 2] No such file or directory: '/\\Transactions'

In [15]:
df_peek = pd.read_csv(data_path + '/Hogwarts_Student_Data_20240101.csv')
df_peek.head()

,Student Name,House,Year,Wand Type,Pet,Potions Grade,Defense Against the Dark Arts Grade,Transfiguration Grade,Spells Learned,Quidditch Position,Points Earned for House,Detentions,Participation in Dueling Club,Triwizard Tournament Involvement,Items Owned,Knuts Spent in Hogsmeade,Attendance at Classes,Magical Accidents
0,Seamus Potter,Slytherin,2,"9 inches, elm, veela hair core",Dragon,Outstanding,Exceeds Expectations,Outstanding,26,Beater,-100,3,No,No,"Time-Turner, Marauder's Map",88,74,5
1,Ginny Spinnet,Gryffindor,6,"9 inches, elm, veela hair core",Cat,Exceeds Expectations,Acceptable,Outstanding,11,Chaser,139,2,No,No,"Firebolt, Sneakoscope, Extendable Ears",99,67,6
2,Padma Parkinson,Gryffindor,4,"11 inches, holly, phoenix feather core",Muggle Born,Outstanding,Acceptable,Outstanding,19,Seeker,93,2,No,No,Invisibility Cloak,342,88,6
3,NaN,Ravenclaw,1,"12 inches, yew, unicorn hair core",Toad,Exceeds Expectations,Exceeds Expectations,Exceeds Expectations,16,Seeker,-73,2,No,NaN,Time-Turner,233,45,5
4,NaN,Ravenclaw,1,"10 inches, oak, dragon heartstring core",Owl,NaN,Outstanding,Exceeds Expectations,9,Keeper,90,0,No,Yes,"Marauder's Map, Sneakoscope",473,27,7

In [16]:
df_list = []
for file in folder_files:
    print(f'Reading {file}')
    file_path = data_path + '\\' + file

    temp_df = pd.read_csv(file_path)
    temp_df['fileName'] = file
    temp_df['loadDatetimeStamp'] = datetime.datetime.now()

    df_list.append(temp_df)

df = pd.concat(df_list, ignore_index=True)
print('Completed Dataframe Concatenation')

Reading Hogwarts_Student_Data_20240101.csv
Reading Hogwarts_Student_Data_20240201.csv
Reading Hogwarts_Student_Data_20240301.csv
Reading Hogwarts_Student_Data_20240401.csv
Reading Hogwarts_Student_Data_20240501.csv
Reading Hogwarts_Student_Data_20240601.csv
Completed Dataframe Concatenation

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48000 entries, 0 to 47999
Data columns (total 20 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Student Name                         34560 non-null  object
 1   House                                44000 non-null  object
 2   Year                                 48000 non-null  int64
 3   Wand Type                            48000 non-null  object
 4   Pet                                  40054 non-null  object
 5   Potions Grade                        44560 non-null  object
 6   Defense Against the Dark Arts Grade  48000 non-null  object
 7   Transfiguration Grade                48000 non-null  object
 8   Spells Learned                       48000 non-null  int64
 9   Quidditch Position                   38496 non-null  object
 10  Points Earned for House              48000 non-null  int64
 11  Detentions                           48000 non-null  int64
 12  Participation in Dueling Club        48000 non-null  object
 13  Triwizard Tournament Involvement     42080 non-null  object
 14  Items Owned                          48000 non-null  object
 15  Knuts Spent in Hogsmeade             48000 non-null  int64
 16  Attendance at Classes                48000 non-null  int64
 17  Magical Accidents                    48000 non-null  int64
 18  fileName                             48000 non-null  object
 19  loadDatetimeStamp                    48000 non-null  datetime64[us]
dtypes: datetime64[us](1), int64(7), object(12)
memory usage: 7.3+ MB

In [18]:
df.to_parquet('./Medallion Architecture/bronze/bronze_transactions.parquet', index=False)